<h1>ユーザーの詳細ページ</h1>
<div>
  <%= flash[:notice] %>
</div>

<%= render 'user', user: @user, book_new: @book_new %>


<h2>books</h2>
<p></p>
<p>Title</p>
<p>Opinion</p>
<% @books. each do |book| %>
  <div>
  <%= image_tag book.user.get_profile_image(100,100) %>
  <%= link_to book_path(book.id) do %>
    <%= book.title %>
  <% end %>
  <p><%= book.body %>
  </p>
</div>
<% end %>